/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 *   
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/**
 * Main body.
 */
body, .body {
margin-top: 0px; margin-bottom: 2px; margin-left: 0px; margin-right: 0px;
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 14px;
cursor: default;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-text-size-adjust: none; -moz-text-size-adjust: none;
-webkit-touch-callout: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
}

.delayed {
display: none;
}

.installer {
position: absolute; width: 0px; height: 0px; display: none; visibility: hidden;
}

.filler {
position: absolute; left: 0px; top: 0px; width: 1px; z-index: -20;
}

/**
 * Views.
 */
.viewcontainer3dm {
position: absolute; left: 0px; top: 0px; right: 0px;
}

.viewcontainer3d {
position: absolute; left: 0px; top: 0px; right: 0px;
}

.viewcontent {
position: absolute; left: 0px; top: 0px; width: 100%; padding-top: 35px; overflow: hidden;
}

.viewform {
position: absolute; left: 0px; top: 0px; width: 100%; padding-top: 35px; overflow: hidden;
}

.viewfoot {
position: fixed; left: 0px; bottom: 0px; height: 0px; width: 100%; z-index: 8;
font-size: 12px; background-color: #ffffff; color: #404040;
border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px;
-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}

.centeredform {
max-width: 800px; margin: auto; padding-left: 2px; padding-right: 2px;
}

.centeredpage {
max-width: 800px; margin: auto; padding-left: 2px; padding-right: 2px;
}

.grid100 {
position: absolute; left: 0px; top: 0px; right: 0px; height: 460px;
z-index: 3; overflow: hidden;
-webkit-backface-visibility: hidden; -mozz-backface-visibility: hidden;
}

.grid320 {
position: absolute; left: 0px; top: 0px; width: 320px; height: 460px;
z-index: 4; overflow: hidden;
-webkit-backface-visibility: hidden; -mozz-backface-visibility: hidden;
}

.gridfluid {
position: absolute; left: 0px; top: 0px; height: 460px;
z-index: 4; overflow: visible;
-webkit-backface-visibility: hidden; -mozz-backface-visibility: hidden;
}

/**
 * Menu toolbar.
 */
.tbarmenu {
position: fixed; top: 0px; left: 0px; z-index: 10; width: 100%; margin: 0px; padding: 0px; border-collapse: separate;
height: 35px; line-height: 35px; background-color: #f5f5f5; font-size: 18px; overflow: hidden;
border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px; border-style: solid; border-top-color: #f5f5f5; border-bottom-color: #f5f5f5;
-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
opacity: 0.95;
}

.tbartitle {
position: absolute; top: 0px; left: 0px; width: 100%; text-align: center; z-index: 11;
}

.tbaritems {
position: absolute; top: 0px; left: 0px; width: 100%; z-index: 12;
}

.tbarleft {
padding-left: 6px; padding-right: 6px; float: left; display: inline-block;
}

.tbarcenter {
padding-left: 6px; padding-right: 6px; font-size: 24px!important;
display: inline-block; max-width: 160px; overflow: hidden; text-overflow: ellipsis;
}

.tbarright {
padding-left: 6px; padding-right: 6px; float: right; display: inline-block;
}

.tbaramenu {
color: #357ae8; text-decoration: none;
}

.tbarsmenu {
font-weight: bold; color: #357ae8; text-decoration: none;
}

.tbarbluemenu {
color: #357ae8; text-decoration: none;
}

.tbarredmenu {
color: #d14836; text-decoration: none;
}

.tbargreenmenu {
color: #3d9400; text-decoration: none;
}

/**
 * Status bar.
 */
.status3d {
position: absolute; left: 0px; bottom: 0px; height: 25px; line-height: 25px; width: 100%; z-index: 9;
background-color: #f5f5f5; color: #404040;
border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px;
border-style: solid; border-top-color: #f5f5f5; border-bottom-color: #ffffff;
transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px);
-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
opacity: 0.95;
}

.statusout3d {
position: absolute; left: 0px; bottom: 0px; height: 25px; line-height: 25px; width: 100%; z-index: 9;
background-color: #f5f5f5; color: #404040;
border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px; border-style: solid; border-top-color: #f5f5f5; border-bottom-color: #ffffff;
transform: translate(0px, 25px); -webkit-transform: translate(0px, 25px); -moz-transform: translate(0px, 25px); -ms-transform: translate(0px, 25px);
transition: transform 0.4s ease-in-out; -webkit-transition: -webkit-transform 0.4s ease-in-out; -moz-transition: transform 0.4s ease-in-out;
-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
opacity: 0.95;
}

.status3dm {
position: absolute; left: 0px; bottom: 0px; height: 25px; line-height: 25px; width: 100%; z-index: 9;
background-color: #f5f5f5; color: #404040;
border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px; border-style: solid; border-top-color: #f5f5f5; border-bottom-color: #ffffff;
transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px);
-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
opacity: 0.95;
}

.statusout3dm {
position: absolute; left: 0px; bottom: 0px; height: 25px; line-height: 25px; width: 100%; z-index: 9;
background-color: #f5f5f5; color: #404040;
border-top: 0px; border-bottom: 0px; border-left: 0px; border-right: 0px; border-style: solid; border-top-color: #f5f5f5; border-bottom-color: #ffffff;
transform: translate(0px, 25px); -webkit-transform: translate(0px, 25px); -moz-transform: translate(0px, 25px); -ms-transform: translate(0px, 25px);
transition: transform 0.4s ease-in-out; -webkit-transition: -webkit-transform 0.4s ease-in-out; -moz-transition: transform 0.4s ease-in-out;
-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
opacity: 0.95;
}

.okstatus {
font-size: 14px; padding-left: 6px; padding-right: 6px; text-decoration: none;
color: #000000;
width: 100%; margin-left: auto; margin-right: auto; text-align: center; float: right;
}

.errorstatus {
font-size: 14px; padding-left: 6px; padding-right: 6px; text-decoration: none;
background-color: #d14836; color: #ffffff;
width: 100%; margin-left: auto; margin-right: auto; text-align: center; float: right;
}

/**
 * Working status animation.
 */
.working {
position: fixed; z-index: 15; display: none; width: 60px; height: 60px; left: 50%; top: 50%; border-bottom-color: transparent;
margin: -50px 0 0 -50px; border: 20px solid #c0c0c0; border-right-color: transparent;
border-radius: 60px; -webkit-border-radius: 60px; -moz-border-radius: 60px;
animation: spin 0.8s linear infinite; -webkit-animation: webkit-spin 0.8s linear infinite; -moz-animation: moz-spin 0.8s linear infinite;
-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}

@keyframes spin {
0% { transform: rotate(0deg); opacity: 0.4; }
50% { transform: rotate(180deg); opacity: 1; }
100% { transform: rotate(360deg); opacity: 0.4; }
}

@-webkit-keyframes webkit-spin {
0% { -webkit-transform: rotate(0deg); opacity: 0.4; }
50% { -webkit-transform: rotate(180deg); opacity: 1; }
100% { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes moz-spin {
0% { transform: rotate(0deg); opacity: 0.4; }
50% { transform: rotate(180deg); opacity: 1; }
100% { transform: rotate(360deg); opacity: 0.4; }
}

.refreshing {
z-index: 14; display: none; width: 10px; height: 10px; border-bottom-color: transparent; vertical-align: top;
border: 5px solid #c0c0c0; border-right-color: transparent;
border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
animation: spin 0.8s linear infinite; -webkit-animation: webkit-spin 0.8s linear infinite; -moz-animation: moz-spin 0.8s linear infinite;
-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}

/**
 * Scrollbars.
 */
.flatscrollbars::-webkit-scrollbar {
width: 10px; height: 10px; background-color: #ffffff;
-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset -1px -1px 0 rgba(0,0,0,.07);
}

.flatscrollbars::-webkit-scrollbar:hover {
background-color: #eeeeee;
}

.flatscrollbars::-webkit-resizer{
-webkit-border-radius: 4px;
background-color: #666666;
}

.flatscrollbars::-webkit-scrollbar-thumb {
min-height: 0.8em; min-width: 0.8em; background-color: rgba(0, 0, 0, .2);
-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset -1px -1px 0 rgba(0,0,0,.07);
}

.flatscrollbars::-webkit-scrollbar-thumb:hover {
background-color: #bbbbbb;
}

.flatscrollbars::-webkit-scrollbar-thumb:active {
background-color: #888888;
}

/**
 * Base HTML elements.
 */
.text {
padding-top: 6px; padding-bottom: 0px; padding-left: 4px; padding-right: 4px; margin-left: 0px; margin-right: 0px; vertical-align: middle;
line-height: 16px; min-height: 22px; min-width: 30px;
display: inline-block;
}

.note {
font-size: 14px; color: #808080; text-transform: none; min-width: 30px;
}

.doc {
padding-left: 4px; padding-right: 4px; min-width: 30px;
}

.intro {
font-size: 15px; padding-left: 4px; padding-right: 4px; color: #000000; min-width: 30px;
}

.help {
font-size: 14px; padding-left: 4px; padding-right: 4px; color: #808080; min-width: 30px;
}

.bluetext {
color: #4787ed; min-width: 30px;
}

.redtext {
color: #d14836; min-width: 30px;
}

.greentext {
color: #3d9400; min-width: 30px;
}

h1 {
font-size: 24px; font-weight: normal; vertical-align: middle; white-space: normal;
padding-top: 0px; padding-bottom: 0px; padding-left: 4px; padding-right: 4px; margin-bottom: 6px; margin-left: 0px; margin-right: 0px;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

h2 {
font-size: 20px; font-weight: normal; vertical-align: middle; white-space: normal;
padding-top: 0px; padding-bottom: 0px; padding-left: 4px; padding-right: 4px; margin-bottom: 6px; margin-left: 0px; margin-right: 0px;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

.hd1 {
font-size: 24px; font-weight: normal; vertical-align: middle; white-space: normal;
padding-top: 0px; padding-bottom: 0px; padding-left: 4px; padding-right: 4px; margin-bottom: 6px; margin-left: 0px; margin-right: 0px;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

.hd2 {
font-size: 20px; font-weight: normal; vertical-align: middle; white-space: normal;
padding-top: 0px; padding-bottom: 0px; padding-left: 4px; padding-right: 4px; margin-bottom: 6px; margin-left: 0px; margin-right: 0px;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

.width100 {
width: 312px;
}

.section {
font-size: 20px; font-weight: normal;
padding-top: 0px; padding-bottom: 0px; padding-left: 4px; padding-right: 4px; margin-left: 0px; margin-right: 0px;
border-top: 1px; border-bottom: 1px; border-left: 0px; border-right: 0px; border-style: solid; border-top-color: #d9d9d9; border-bottom-color: #d9d9d9; border-left-color: #d9d9d9; border-right-color: #d9d9d9;
display: inline-block; line-height: 26px; min-height: 28px; min-width: 30px;
}

.link {
padding-top: 3px; padding-bottom: 4px; vertical-align: middle;
display: inline-block; line-height: 16px; min-height: 16px; min-width: 30px;
}

a:link {
/*color: #357ae8; text-decoration: none; cursor: pointer;*/
color: inherit; text-decoration: none; cursor: pointer;
}

a:visited {
/*color: #357ae8; text-decoration: none; cursor: pointer;*/
color: inherit; text-decoration: none; cursor: pointer;
}

.label {
font-weight: normal; color: #808080;
padding-top: 6px; padding-bottom: 2px; padding-left: 4px; padding-right: 4px; margin-left: 0px; margin-right: 0px; vertical-align: middle;
display: inline-block; line-height: 16px; min-height: 20px; min-width: 30px;
}

input {
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 16px; min-width: 30px;
background-image: none;
vertical-align: middle;
outline: none;
-webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%;
}

textarea {
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 16px;
background-image: none;
outline: none;
overflow: auto; resize: none;
}

.entry {
padding-left: 4px; padding-right: 4px; padding-top: 0px; padding-bottom: 0px; margin: 0px;
}

.password {
padding-left: 4px; padding-right: 4px; padding-top: 0px; padding-bottom: 0px; margin: 0px;
}

.flatentry {
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 16px; vertical-align: middle;
height: 28px; width: 100%;
-webkit-appearance: none; -moz-appearance: none!important;
box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
border: 1px solid #d9d9d9!important; border-top: 1px solid silver!important;
border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
margin: 1px!important; padding: 3px 3px 3px 3px;
}

.flattextarea {
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 16px; vertical-align: middle;
width: 100%;
-webkit-appearance: none; -moz-appearance: none!important;
box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
border: 1px solid #d9d9d9!important; border-top: 1px solid silver!important;
border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
margin: 1px!important; padding: 3px 3px 3px 3px;
}

.ifiller {
-webkit-appearance: none; -moz-appearance: none;
border: 0px; margin: 0px; padding: 0px;
overflow: hidden; width: 100%; height: 0px;
}

.readentry {
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 16px; vertical-align: middle;
height: 28px; width: 100%;
-webkit-appearance: none; -moz-appearance: none;
box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
border: 1px solid #ffffff!important; border-top: 1px solid ffffff!important;
border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
margin: 1px!important; padding: 3px 3px 3px 3px;
overflow: hidden; text-overflow: ellipsis;
}

.readtextarea {
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 16px; vertical-align: middle;
width: 100%;
-webkit-appearance: none; -moz-appearance: none;
box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
border: 1px solid #ffffff!important; border-top: 1px solid ffffff!important;
border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
margin: 1px!important; padding: 3px 3px 3px 3px;
overflow: hidden; text-overflow: ellipsis;
}

.bigentry {
font-size: 18px!important;
}

.searchentry {
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 16px; vertical-align: middle;
height: 28px; width: 100%;
-webkit-appearance: searchfield; -moz-appearance: searchfield;
box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
border: 1px solid #d9d9d9!important; border-top: 1px solid silver!important;
border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
margin: 1px!important; padding: 3px 3px 3px 3px;
}

.checkbox {
padding-top: 3px; padding-bottom: 4px; vertical-align: middle;
}

.flatcheckbox {
}

.editablewidget {
-webkit-user-select: text; -moz-user-select: text; -ms-user-select: text;
outline: none; outline-style: none;
display: block;
}

iframe {
border: 0px; margin: 0px; padding: 0px;
}

img {
padding: 0px; margin: 0px; border: 0px;
border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
display: inline-block;
}

.img {
padding: 0px; margin: 0px; border: 0px;
max-width: 320px; max-height: 460px;
border: 0px;
border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
background-repeat: no-repeat; float: left;
display: inline-block;
}

.thumbnail {
padding: 0px; margin: 0px; border: 0px;
max-width: 50x; max-height: 50px;
border: 0px;
border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
background-repeat: no-repeat; float: left;
display: inline-block;
}

/**
 * Tables.
 */
table {
border: 0px; border-collapse: collapse; border-color: #f5f5f5; border-style: solid;
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 14px;
}

.table {
}

th {
font-size: 18px; font-weight: normal; background-color: #ffffff; color: #000000;
padding-left: 2px; padding-right: 8px; padding-top: 0px; padding-bottom: 0px; vertical-align: middle;
border-top: 1px; border-bottom: 1px; border-left: 1px; border-right: 1px; border-style: solid; border-top-color: #f5f5f5; border-bottom-color: #f5f5f5; border-left-color: #f5f5f5; border-right-color: #f5f5f5;
}

.thl {
border-left: 0px;
}

.thr {
border-right: 0px;
}

.ths {
padding: 0px;
}

td {
padding-left: 2px; padding-top: 2px; padding-right: 8px; vertical-align: middle; border: 0px;
}

.tdl {
border-right: 1px; border-style: solid; border-color: #a2bae7; width: 10px;
}

.tdr {
border-left: 1px; border-style: solid; border-color: #a2bae7;
}

.tdw {
padding-left: 2px; padding-top: 2px; padding-right: 8px; white-space: normal; vertical-align: middle;
}

.datatd {
border-top: 1px; border-bottom: 1px; border-style: solid; border-color: #f5f5f5; width: 10px; vertical-align: middle;
}

.datatdl {
border-right: 1px; border-top: 1px; border-bottom: 1px; border-style: solid; border-color: #f5f5f5; width: 10px; vertical-align: middle;
}

.datatdltop {
border-right: 1px; border-top: 1px; border-bottom: 1px; border-style: solid; border-color: #f5f5f5; width: 10px; vertical-align: top;
}

.datatdr {
border-left: 1px; border-top: 1px; border-bottom: 1px; border-style: solid; border-color: #f5f5f5; vertical-align: middle;
}

.list {
}

.datatable {
border-top: 1px; border-bottom: 1px; border-style: solid; border-color: #f5f5f5;
}

.databg {
opacity: 0.95;  
}

/**
 * Buttons.
 */
button {
vertical-align: middle;
font-family: "Helvetica Neue", Helvetica, Arial; font-style: normal; font-variant: normal; font-size: 18px;
-webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%;
}

button::-moz-focus-inner {
outline: none!important; border: 0px!important;
}

.submit {
visibility: hidden; height: 0px; width: 0px; max-height: 0px; padding: 0px; margin: 0px;
}

.symbolbutton {
text-align: center; vertical-align: middle; font-family: "Courier"; font-size: 28px!important;
display: inline-block; min-height: 28px; min-width: 30px; padding-top: 0px;
}

.minusbutton {
text-align: center; vertical-align: top; font-family: "Courier"; font-size: 28px!important;
display: inline-block; min-height: 28px; min-width: 30px; padding-top: 0px;
}

.bigbutton {
font-size: 24px!important; padding: 10px!important; height: 50px!important;
}

.graybutton {
color: #808080!important; font-size: 18px;
padding-top: 0px; padding-bottom: 0px; padding-left: 6px; padding-right: 6px; margin-left: 0px; margin-right: 0px; text-align: center; vertical-align: top;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

.blackbutton {
color: #000000!important; font-size: 18px;
padding-top: 0px; padding-bottom: 0px; padding-left: 6px; padding-right: 6px; margin-left: 0px; margin-right: 0px; text-align: center; vertical-align: top;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

.lightbutton {
color: #808080!important; font-size: 18px;
padding-top: 0px; padding-bottom: 0px; padding-left: 6px; padding-right: 6px; margin-left: 0px; margin-right: 0px; text-align: center; vertical-align: top;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

.bluebutton {
color: #4d90fe!important; font-size: 18px;
padding-top: 0px; padding-bottom: 0px; padding-left: 6px; padding-right: 6px; margin-left: 0px; margin-right: 0px; text-align: center; vertical-align: top;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

.greenbutton {
color: #3d9400!important; font-size: 18px;
padding-top: 0px; padding-bottom: 0px; padding-left: 6px; padding-right: 6px; margin-left: 0px; margin-right: 0px; text-align: center; vertical-align: top;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

.redbutton {
color: #d14836!important; font-size: 18px;
padding-top: 0px; padding-bottom: 0px; padding-left: 6px; padding-right: 6px; margin-left: 0px; margin-right: 0px; text-align: center; vertical-align: top;
display: inline-block; line-height: 28px; min-height: 28px; min-width: 30px;
}

